* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  background-color: #222222;
}

:root {
  --blanco: #ffffff;
  --azul-blanco: #e0ebf5;
  --verde: #6bdd4e;
  --azul: #3b658b;
  --negro: #222222;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.6rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

/* NAVBAR */

/* .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--verde);
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  z-index: 3;
  animation: EntradaIzq 1000ms ease;
}

.navbar ul{
  list-style: none;
  font-size: 2rem;
}

.navbar a{
  color: var(--negro);
  text-decoration: none;
}

#burger i{
  font-size: 4rem;
  color: var(--negro);
  cursor: pointer;
}

.menu-item {
  display: none;
  width: fit-content;
  padding: 15px 0;
}

.menu-item:hover i{
  transform: scale(1.2);
}

.menu-item i{
  color: var(--negro);
}

.menu-item--active{
  display: block;
}

@media (max-width: 550px){
  #burger i{
    font-size: 3rem;
  }
} */

/* MAIN */

/* Inicio */
.inicio {  
  background-image: url(https://images.pexels.com/photos/6476587/pexels-photo-6476587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 100px;
  animation: EntradaIzq 1000ms ease;
}

.inicio_grad{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#222222, #222222b6, #222222);
  left: 0;
  top: 0;
}

.inicio_content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 2;
}

.inicio_content span{
  font-size: 6rem;
}

.inicio_content h1{
  color: var(--verde);
  line-height: 45px;
}

.inicio_content h2{
  color: var(--azul-blanco);
}

.button {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--verde);
  color: var(--negro);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.down-arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 0;
  height: 30px;
  border: 2px solid var(--blanco);
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid var(--blanco);
  border-right: 4px solid var(--blanco);
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

/* animacion entrada */

@keyframes EntradaIzq {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .inicio{
    padding: 60px 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .inicio {
    padding: 60px 30px;
  }
}

/* Sobre mi */
.sobremi {
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 100px;
}

.sobremi_foto{
  background-color: var(--verde);
  border-radius: 300px 300px 300px 0px;
  aspect-ratio: 1/1;
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 20px;
}

.sobremi_foto img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;  
}

.sobremi_texto {
  padding-left: 150px;
}

.sobremi_texto h3 {
  color: var(--verde);
  line-height: 3rem;
}

.sobremi_texto span{
  font-size: 3.6rem;
}

.sobremi_texto a{
  text-decoration-color: var(--azul-blanco);
}

.sobremi_texto h5 {
  color: var(--azul-blanco);
}

.sobremi_texto p {
  color: var(--blanco);
  margin-top: 30px;
  padding-right: 100px;
}

@media (max-width: 767px) {
  .sobremi {
    display: block;
    height: fit-content;
    padding: 60px 30px;
  }
  .sobremi_foto{
    width: 300px;
    height: 300px;
  }
  .sobremi_texto {
    padding-top: 20px;
    padding-left: 5px;
  }
  .sobremi_texto p {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sobremi {
    
    height: fit-content;
    padding: 60px 30px;
  }
  .sobremi_texto {
    padding-left: 30px;
  }
  .sobremi_texto p {
    margin-bottom: 0;
    padding-right: 50px;
  }
}

/* herramientas */

.herramientas{
  padding: 100px;
  height: 100vh;
  display: grid;
  align-items: center;
  flex-direction: column;
}

.herramientas h3 {
  color: var(--verde);
  text-align: center;
  padding-bottom: 30px;
  line-height: 3rem;
}

.herramientas span{
  font-size: 3.6rem;
}

.herramientas_padre{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.1rem;
  grid-row-gap: 4rem;
}

.herramientas_hijo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  transition: 0.5s ease-in-out;
}

.herramientas_hijo:hover {
  transform: scale(1.1);
}

.herramientas_hijo img{
  width: 90px;
  filter: drop-shadow(5px 5px);
}

@media (max-width: 767px) {
  .herramientas{
    height: fit-content;
    padding: 60px 30px;
  }
  .herramientas_padre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .herramientas{
    height: fit-content;
    padding: 60px 30px;
  }
}

/* portafolio */
.portafolio {
  padding: 100px 30px;
}

.portafolio h3 {
  color: var(--verde);
  text-align: center;
  margin-bottom: 30px;
  line-height: 3rem;
}

.portafolio span{
  font-size: 3.6rem;
}

.padre {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.portafolio_img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 350px; */
  height: 250px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px black;;
  transition: 0.5s ease-in-out;
}

.portafolio_img:hover {
  transform: scale(1.1);
}

.portafolio_img img {
  width: 280px;
  height: 180px;
  object-fit: cover;
}

.hijo {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.hijo h6 {
  color: var(--azul-blanco);
}

.hijo p {
  color: var(--blanco);
}

.boton a, i {
  color: var(--verde);
  font-size: 1.8rem;
}

.boton i {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .portafolio {
    padding: 60px 30px;
  }
  .padre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hijo{
    width: 250px;
    padding: 0 0 30px 0;
  }
  .portafolio_img {
    height: 200px;
  }
  .portafolio_img img {
    width: 240px;
    height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .portafolio {
    padding: 60px 30px;
  }
  .padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hijo{
    width: 250px;
    padding: 0 0 30px 0;
  }
  .portafolio_img {
    height: 200px;
  }
  .portafolio_img img {
    width: 240px;
    height: 140px;
  }
}

/* FOOTER */
.perfiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.perfiles img {
  width: 51px;
  margin: 0 10px;
}

/*SCROLL*/

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.sobremi, .titles, .hijo, .herramientas_padre {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 40%;
  animation-fill-mode: both;
}