* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Urbanist", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutro-oscuro);
}

:root {
  --blanco: #ffffff;
  --neutro-oscuro: #030F0F;
  --verde-principal: #00DF82;
  --verde-secundario: #2CC295;
  --verde-fondo: #092B2B;
  --verde-blanco: #AACBC4;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
}

h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

h4 {
  font-family: "Urbanist", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
}

h5 {
  font-family: "Urbanist", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

h6 {
  font-family: "Urbanist", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
}

p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--blanco);
}

@media only screen and (max-width: 768px){
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3.2rem;
  }
  h3, h4{
    font-size: 2.4rem;
  }
  h5, h6{
    font-size: 2rem;
  }
  p{
    font-size: 1.6rem;
  }
}

/* header */

.header {
  background-color: var(--verde-fondo);
  /* backdrop-filter: blur(80px); */
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__container{
  max-width: 1360px;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--blanco);
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--verde-principal);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--blanco);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--blanco);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Sobre mi */

.about_me{
  position: relative;
  max-height: 900px;
  padding: 128px 0 64px 0;
}

.about_me__container{
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  max-width: 1360px;
  margin: 0 auto;
  width: 95%;
  /* padding: 40px;
  background-color: var(--blanco);
  border-radius: 50px;
  background: url('../images/Cuadricula.svg'), var(--blanco);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.foto{
  width: 120px;
  clip-path: circle(40% at 50% 50%);
}

.about_me h1{
  color: var(--verde-blanco);
}

#span--title{
  color: var(--blanco);
}

/* .about_me span{
  background-color: var(--verde-secundario);
  border-radius: 100px;
  padding: 8px 40px;
  white-space: nowrap;
} */

.about_me span{
  background: linear-gradient(
        to right,
        #00df82 20%,
        #00ff37 30%,
        #00df82 70%,
        #00ff37 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

}

.about_me p{
  color: var(--blanco);
}

.about_me a{
  width: 280px;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--neutro-oscuro);
  padding: 16px 64px;
  transition: all 300ms;
  /* background-color: var(--verde-principal); */
  background: linear-gradient(180deg, #00df82, #00ff37);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.about_me a:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(44, 194, 149, 0.4), 0 10px 10px rgba(44, 194, 149, 0.4);
}

.about_me--nombre{
  display: flex;
  align-items: center;
  gap: 24px;
}

hr {
  height: 4px;
  width: 80px;
  background-color: var(--neutro-oscuro);
}

@media only screen and (max-width: 430px){
  .about_me{
    margin: 0 0 48px 0;
  }

  .about_me a{
    font-size: 1.6rem;
    width: 100%;
  }

  .about_me__container{
    /* padding: 20px; */
    border-radius: 25px;
    gap: 25px;
  }

  /* .about_me span{
    padding: 8px 24px;
  } */

  .about_me--nombre{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  hr {
    width: 50px;
  }
}

@media screen and (min-width: 431px) and (max-width: 1024px){
  .about_me--nombre{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

/* experiencia */

.experiencia{
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 95%;
}

.experiencia h2{
  /* background: -webkit-linear-gradient(#00df82, #00ff37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(
        to right,
        #00df82 20%,
        #00ff37 30%,
        #00df82 70%,
        #00ff37 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.experiencia h3, h6{
  color: var(--blanco);
}

.experiencia h4{
  font-size: 2.4rem;
  color: var(--blanco);
}

.experiencia h5{
  color: var(--verde-blanco);;
  font-size: 1.8rem;
}

.experiencia h6{
  font-size: 1.6rem;
  color: var(--blanco);
}

.experiencia_tarjetas--container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tarjetas--content{
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--verde-fondo);
  border-radius: 10px;
  padding: 40px;
  transition: all 300ms;
}

.tarjetas--content p{
  color: var(--blanco);
}

.tarjetas--content:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(44, 194, 149, 0.4), 0 10px 10px rgba(44, 194, 149, 0.4);
}

.tarjetas--content_titles{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (max-width: 430px){
  .experiencia{
    margin: 48px auto;
    padding-top: 73px;
    margin-top: -73px;
    gap: 40px;
  }

  .experiencia_tarjetas--container{
    gap: 20px;
  }

  .tarjetas--content{
    padding: 24px;
  }
  .tarjetas--content_titles{
    gap: 8px;
  }
}

/* habilidades */

.habilidades{
  margin: 64px 0;
  padding: 73px 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: var(--verde-fondo);
}

.habilidades_container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 95%;
  max-width: 1360px;
  margin: 0 auto;
}

.habilidades_container p{
  color: var(--blanco);
}

.habilidades--title{
  margin-bottom: 32px;
  background: linear-gradient(
        to right,
        #00df82 20%,
        #00ff37 30%,
        #00df82 70%,
        #00ff37 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

}

.habilidades_container--content{
  display: flex;
  gap: 16px;
}

.habilidades--tools{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  background-color: var(--verde-principal);
  border-radius: 10px;
}

.habilidades--tools p{
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--neutro-oscuro);
}

.habilidades--tools img{
  width: 32px;
}

@media only screen and (max-width: 430px){
  .habilidades{
    margin: 48px auto;
    padding-top: 73px;
    padding-top: -73px;
    gap: 40px;
  }
  .habilidades_container{
    gap: 16px;
  }
  .habilidades--title{
    margin-bottom: 24px;
  }
  .habilidades_container--content{
    flex-wrap: wrap;
    gap: 16px;
  }
  .habilidades--tools{
    gap: 8px;
  }
  .habilidades--tools p{
    font-size: 1.6rem;
    font-weight: 700;
  }
  .habilidades--tools img{
    width: 40px;
  }
}

@media screen and (min-width: 431px) and (max-width: 1024px){
  .habilidades_container--content{
    flex-wrap: wrap;
  }
}

/* Proyectos */

.proyectos{
  max-width: 1360px;
  width: 95%; 
  margin: 64px auto;
  padding-top: 73px;
  margin-top: -73px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.proyectos h2{
  background: linear-gradient(
        to right,
        #00df82 20%,
        #00ff37 30%,
        #00df82 70%,
        #00ff37 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

}

.proyectos_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-around;
}

.article-card {
  width: 380px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(44, 194, 149, 0.4), 0 10px 10px rgba(44, 194, 149, 0.4);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 16px;
  color: var(--blanco);
}

@media only screen and (max-width: 430px){
  .proyectos{
    margin: 48px auto;
    padding-top: 73px;
    margin-top: -73px;
    gap: 40px;
  }
  .proyectos_container{
    gap: 20px;
  }
  .article-card{
    width: 95vw;
  }
}

@media screen and (min-width: 431px) and (max-width: 768px){
  .article-card{
    width: 380px;
  }
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--verde-fondo);
  width: 100%;
  padding: 40px 0;
  gap: 48px;
  color: var(--blanco);
  border-radius: 50px 50px 0 0;
}

footer a{
  text-decoration: none;
}

footer h6{
  color: var(--blanco);
}

.redes{
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 430px){
  footer{
    width: 100%;
    padding: 40px 0;
    gap: 24px;
    color: var(--blanco);
    border-radius: 50px 50px 0 0;
  }
}